{% extends 'base.html' %}
{% from "_form_macros.html" import render_field %}

{% block head %}
    <title>Contacts</title>
{% endblock %}

{% block body %}
<div class="card">

    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.phone_number) }}
        {{ render_field(form.subject) }}
        {{ render_field(form.message) }}
        
        {{ form.submit() }}
    </form>
</div>
{% endblock %}
