{% extends 'base.html' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}
    
{% block body %}
    <section class="mb-4 mt-4">
        <div class="card border-0 shadow-sm rounded-3 h-100">
            <h5 class="card-header">Про себе</h5>
            <div class="card-body">
                <p>--Some info--</p>
            </div>
        </div>
    </section>
    
    <section class="mb-4">
        <div class="card border-0 shadow-sm rounded-3 h-100">
            <h5 class="card-header">Освіта</h5>
            <div class="card-body">
                <p>--Some info--</p>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <div class="card border-0 shadow-sm rounded-3 h-100">
            <h5 class="card-header">Навички</h5>
            <div class="card-body">
                <p>--Some info--</p>
            </div>
        </div>
    </section>
    
    <section class="mb-4">
        <div class="card border-0 shadow-sm rounded-3 h-100">
            <h5 class="card-header">ТехнологіЇ</h5>
            <div class="card-body">
                <p>--Some info--</p>
            </div>
        </div>
    </section>
    
    <section class="mb-4">
        <div class="card border-0 shadow-sm rounded-3 h-100">
            <h5 class="card-header">Досвід роботи</h5>
            <div class="card-body">
                <p>--Some info--</p>
            </div>
        </div>
    </section>

{% endblock %}